# Ignore build files
build/
dist/

# Ignore node_modules
node_modules/

# Ignore service worker
src/serviceWorker.js

# Ignore test files
**/*.test.js
**/*.spec.js

# Ignore configuration files
config/
scripts/
