.navbar {
	height: 8%;
	background: #1b1919;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-logo {
	color: white;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 13rem;
}
.navbar-logo:hover {
	color: white;
}

.nav-items {
	display: flex;
	list-style: none;
	text-align: center;
	width: 50%;
	justify-content: flex-end;
	margin-right: 2rem;
}

.nav-last {
	display: flex;
	list-style: none;
	text-align: center;
	width: 27%;
	justify-content: flex-end;
}

.nav-item {
	display: flex;
	align-items: center;
	height: 5%;
}

.nav-item a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	margin-right: 2rem;
	padding: 6px 16px;
	border-radius: 5px;
}

.nav-item a:hover {
	color: #daa520;
}
.drop-down {
	width: 12%;
	background-color: #1b1919;
	position: absolute;
	right: 0px;
	top: 60px;
}
#active {
	color: #daa520;
}
